T5-ADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "T5-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_vm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow2_corrected')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sqlCountry"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sqlDates"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "cosmosPolicy"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "country_sink",
								"type": "DatasetReference"
							},
							"name": "sinkCountry"
						},
						{
							"dataset": {
								"referenceName": "date_sink",
								"type": "DatasetReference"
							},
							"name": "sinkDates"
						},
						{
							"dataset": {
								"referenceName": "sink_policy",
								"type": "DatasetReference"
							},
							"name": "sinkPolicy",
							"rejectedDataLinkedService": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Country as string,",
						"          CountryCode as string,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-sql-db',",
						"     fileName: 'dboCountry.txt') ~> sqlCountry",
						"source(output(",
						"          DateKey as integer,",
						"          FullDate as date,",
						"          isWeekDay as boolean,",
						"          DayOfWeek as integer,",
						"          DayOfMonth as integer,",
						"          DayOfQuarter as integer,",
						"          DayOfYear as integer,",
						"          DayName as string,",
						"          WeekOfYear as integer,",
						"          WeekName as string,",
						"          MonthOfYear as integer,",
						"          MonthName as string,",
						"          CalendarQuarter as integer,",
						"          CalendarQuarterName as string,",
						"          CalendarYear as integer,",
						"          FiscalMonth as integer,",
						"          FiscalMonthName as string,",
						"          FiscalQuarter as integer,",
						"          FiscalQuarterName as string,",
						"          FiscalYear as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-sql-db',",
						"     fileName: 'dboDates.txt') ~> sqlDates",
						"source(output(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          RegionName as string,",
						"          RegionCode as string,",
						"          Jurisdiction as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyIndexForDisplay as double,",
						"          StringencyLegacyIndex as double,",
						"          StringencyLegacyIndexForDisplay as double,",
						"          GovernmentResponseIndex as double,",
						"          GovernmentResponseIndexForDisplay as double,",
						"          ContainmentHealthIndex as double,",
						"          ContainmentHealthIndexForDisplay as double,",
						"          EconomicSupportIndex as double,",
						"          EconomicSupportIndexForDisplay as double,",
						"          id as string,",
						"          rid as string,",
						"          self as string,",
						"          etag as string,",
						"          attachments as string,",
						"          ts as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'policy-data-cosmosdb',",
						"     fileName: 'covidpolicy') ~> cosmosPolicy",
						"sqlCountry sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyLegacyIndex as double,",
						"          GovernmentResponseIndex as double,",
						"          ContainmentHealthIndex as double,",
						"          EconomicSupportIndex as double,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          ISO3 as string,",
						"          Country as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['Geography.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkCountry",
						"sqlDates sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyLegacyIndex as double,",
						"          GovernmentResponseIndex as double,",
						"          ContainmentHealthIndex as double,",
						"          EconomicSupportIndex as double,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          ISO3 as string,",
						"          Country as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['Date.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkDates",
						"cosmosPolicy sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyLegacyIndex as double,",
						"          GovernmentResponseIndex as double,",
						"          ContainmentHealthIndex as double,",
						"          EconomicSupportIndex as double,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          ISO3 as string,",
						"          Country as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['Policies.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkPolicy"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowMetrics')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sqlMetricsCases"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "vmMetricsCases"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sqlMetricsDeaths"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "vmMetricsDeaths"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sqlMetricsRecoveries"
						},
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "vmMetricsRecoveries"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "metricCases_sink",
								"type": "DatasetReference"
							},
							"name": "sinkCases"
						},
						{
							"dataset": {
								"referenceName": "metricDeaths_sink",
								"type": "DatasetReference"
							},
							"name": "sinkDeaths"
						},
						{
							"dataset": {
								"referenceName": "metricRecoveries_sink",
								"type": "DatasetReference"
							},
							"name": "sinkRecoveries"
						}
					],
					"transformations": [
						{
							"name": "unionCases"
						},
						{
							"name": "unionDeaths"
						},
						{
							"name": "unionRecoveries"
						},
						{
							"name": "selectCases"
						},
						{
							"name": "selectDeaths"
						},
						{
							"name": "select3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-sql-db',",
						"     fileName: 'dboCovid19_Metrics.txt') ~> sqlMetricsCases",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-vm',",
						"     fileName: 'dboCovid19_Metrics.txt') ~> vmMetricsCases",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-sql-db',",
						"     fileName: 'dboCovid19_Metrics.txt') ~> sqlMetricsDeaths",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-vm',",
						"     fileName: 'dboCovid19_Metrics.txt') ~> vmMetricsDeaths",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-sql-db',",
						"     fileName: 'dboCovid19_Metrics.txt') ~> sqlMetricsRecoveries",
						"source(output(",
						"          ID as integer,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          Latitude as decimal(10,5),",
						"          Longitude as decimal(10,5),",
						"          ISO2 as string,",
						"          ISO3 as string,",
						"          Country_Region as string,",
						"          load_time as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'countries-azure-vm',",
						"     fileName: 'dboCovid19_Metrics.txt') ~> vmMetricsRecoveries",
						"sqlMetricsCases, vmMetricsCases union(byName: true)~> unionCases",
						"sqlMetricsDeaths, vmMetricsDeaths union(byName: true)~> unionDeaths",
						"sqlMetricsRecoveries, vmMetricsRecoveries union(byName: true)~> unionRecoveries",
						"unionCases select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Confirmed,",
						"          Confirmed_Change,",
						"          Latitude,",
						"          Longitude,",
						"          ISO2,",
						"          ISO3,",
						"          Country_Region,",
						"          load_time",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCases",
						"unionDeaths select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Deaths,",
						"          Deaths_Change,",
						"          Latitude,",
						"          Longitude,",
						"          ISO2,",
						"          ISO3,",
						"          Country_Region,",
						"          load_time",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDeaths",
						"unionRecoveries select(mapColumn(",
						"          ID,",
						"          Updated,",
						"          Recovered,",
						"          Recovered_Change,",
						"          Latitude,",
						"          Longitude,",
						"          ISO2,",
						"          ISO3,",
						"          Country_Region,",
						"          load_time",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"selectCases sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyLegacyIndex as double,",
						"          GovernmentResponseIndex as double,",
						"          ContainmentHealthIndex as double,",
						"          EconomicSupportIndex as double,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          ISO3 as string,",
						"          Country as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['Cases.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkCases",
						"selectDeaths sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyLegacyIndex as double,",
						"          GovernmentResponseIndex as double,",
						"          ContainmentHealthIndex as double,",
						"          EconomicSupportIndex as double,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          ISO3 as string,",
						"          Country as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['Deaths.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkDeaths",
						"select3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CountryName as string,",
						"          CountryCode as string,",
						"          Date as timestamp,",
						"          C1_School_closing as double,",
						"          C1_Flag as boolean,",
						"          C2_Workplace_closing as double,",
						"          C2_Flag as boolean,",
						"          C3_Cancel_public_events as double,",
						"          C3_Flag as boolean,",
						"          C4_Restrictions_on_gatherings as double,",
						"          C4_Flag as boolean,",
						"          C5_Close_public_transport as double,",
						"          C5_Flag as boolean,",
						"          C6_Stay_at_home_requirements as double,",
						"          C6_Flag as boolean,",
						"          C7_Restrictions_on_internal_movement as double,",
						"          C7_Flag as boolean,",
						"          C8_International_travel_controls as double,",
						"          E1_Income_support as double,",
						"          E1_Flag as boolean,",
						"          E2_Debt_contract_relief as double,",
						"          E3_Fiscal_measures as double,",
						"          E4_International_support as double,",
						"          H1_Public_information_campaigns as double,",
						"          H1_Flag as boolean,",
						"          H2_Testing_policy as double,",
						"          H3_Contact_tracing as double,",
						"          H4_Emergency_investment_in_healthcare as double,",
						"          H5_Investment_in_vaccines as double,",
						"          H6_Facial_Coverings as double,",
						"          H6_Flag as boolean,",
						"          H7_Vaccination_policy as double,",
						"          H7_Flag as boolean,",
						"          H8_Protection_of_elderly_people as long,",
						"          H8_Flag as boolean,",
						"          M1_Wildcard as double,",
						"          StringencyIndex as double,",
						"          StringencyLegacyIndex as double,",
						"          GovernmentResponseIndex as double,",
						"          ContainmentHealthIndex as double,",
						"          EconomicSupportIndex as double,",
						"          Updated as date,",
						"          Confirmed as integer,",
						"          Confirmed_Change as integer,",
						"          Deaths as integer,",
						"          Deaths_Change as integer,",
						"          Recovered as integer,",
						"          Recovered_Change as integer,",
						"          ISO3 as string,",
						"          Country as string",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['Recoveries.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkRecoveries"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_corrected')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow2_corrected",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlCountry": {},
									"sqlDates": {},
									"cosmosPolicy": {},
									"sinkCountry": {},
									"sinkDates": {},
									"sinkPolicy": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowMetrics",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlMetricsCases": {},
									"vmMetricsCases": {},
									"sqlMetricsDeaths": {},
									"vmMetricsDeaths": {},
									"sqlMetricsRecoveries": {},
									"vmMetricsRecoveries": {},
									"sinkCases": {},
									"sinkDeaths": {},
									"sinkRecoveries": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-07T18:01:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow2_corrected')]",
				"[concat(variables('factoryId'), '/dataflows/dataflowMetrics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pull_from_vm')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_vm",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_vm",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "countries-azure-vm//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_vm",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_vm",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Country"
								},
								"destination": {
									"fileName": "dboCountry.txt"
								}
							},
							{
								"source": {
									"table": "Covid19_Metrics"
								},
								"destination": {
									"fileName": "dboCovid19_Metrics.txt"
								}
							},
							{
								"source": {
									"table": "Dates"
								},
								"destination": {
									"fileName": "dboDates.txt"
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-04T23:19:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_vm')]"
			]
		}
	]
}